.big-main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    padding-bottom: 20px;

}

.project h1 {
    color: aliceblue;
    /* color: black; */
    padding-top: 20px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    height: 500px;
    margin: 20px;
}

.projectCard {
    background-size: 100% 100%;
    min-height: 200px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
}

.projectCard1 {
    background-image: url('../image/ecomm2.webp');
    border: 2px solid cyan;
    box-shadow: 10px 10px 60px cyan;
    /* -webkit-filter: blur(5px);
    /* Safari 6.0 - 9.0 */
    /* filter: blur(5px); */

}

.postBtn a {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.projectCard2 {
    background-image: url('../image/ecomm3.jpg');
    border: 2px solid #003D82;
    box-shadow: 10px 10px 60px #003D82;
}


.projectCard3 {
    background-image: url('../image/ecomm4.png');
    border: 2px solid #003D82;
    box-shadow: 10px 10px 60px #003D82;
}

.projectCard4 {
    background-image: url('../image/ecomm5.jpg');
    border: 2px solid cyan;
    box-shadow: 10px 10px 60px cyan;
}

.projectCard5 {
    background-image: url('../image/ecomm6.webp');
    border: 2px solid cyan;
    box-shadow: 10px 10px 60px cyan;
}

.projectCard6 {
    background-image: url('../image/ecomm7.jpg');
    border: 2px solid cyan;
    box-shadow: 10px 10px 60px cyan;

}

.projectCard h1,
.projectCard p {
    color: aliceblue;
    /* color: black; */
}

.projectCard p {
    padding-left: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.projectCard .postBtn {
    background-color: cyan;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    cursor: pointer;
    gap: 15px;
}

.postBtn {
    margin-top: 10px;
}


.project-footer {
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
    background-color: #020742;
    height: 40px;
    width: 100%;

}

.project-child-footer {
    position: absolute;
    bottom: 1.3px;
    font-weight: bold;
    font-family: 'Times New Roman', serif;

}